<h1>This is the Home section</h1>

<p>Including but not limited to my first paragraph.</p>
<a href="https://www.youtube.com">This is a horrible link! Don't press here!</a>

<br>

<%= link_to 'About', about_path %>
